*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #fbfefb;  
}

header{
    background-color: #efe5dc;
    padding: 10px;
    border-radius: 30px;
    border: 5px solid rgb(132, 128, 128);
    width: 60%;
    height: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    margin: 10px;  
   
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 7vh;
    font-size: 20px;
    position: fixed;
    width: 60%;
}
nav > h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-links{
    list-style: none;  
    margin: auto 0;
    width: 50%;
    display: flex;
    justify-content: space-between;
    color:black;
}
.nav-link{
    padding: 20px;
    text-decoration: none; 
    color:black;
}
.nav-link:hover {
  color: #f8f8f8;
}

#menu-toggle{
    display: none;
}
.menu-icon{
    font-size: 30px;
    color:#4d4643;
    display: none;
}

main{
    background-color: #efe5dc;
    border-radius: 200px;
    border: 10px solid white;
    box-shadow:  1px 1px 50px rgb(162, 161, 161);
    margin-top: 15vh;
    margin-bottom: 10vh;
    width: 80%;
    padding: 60px;
    font-size: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 4fr);
    gap: 30px;
    padding: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}




footer{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 3vh;
    font-size: 15px;
}

@media (max-width: 430px){
    header{
        width: 100%;
        border-radius: 0;
        position: fixed;
        z-index: 8;
    }
    nav > h2{
        font-size: 30px;
    }
    .menu-icon{
    color:#4d4643;
    display:block;
    }
     /* when the checkbox is checked, show menu  */
    #menu-toggle:checked + .menu-icon + .nav-links {
        display: flex;
    
    }
    .nav-link:hover {
            color: #ffffff;
    }
    .nav-links{
        position: absolute;
        top: 10vh;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        display: none;
        background-color: #f3d8c77c;
        border-radius: 0 0 50px 50px;
        font-size: 20px;
    }
    
    .nav-links li{
        padding: 15px;
        z-index: 7;
        
    }

    main{
        border-radius: 100px; 
        border: 7px solid white;
        width: 100%;
        height: 80%;
        padding: 0;
        margin: 10px;
        margin-top: 15vh;
        margin-bottom: 10vh;
        z-index: 1;
    }
}